<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fiberbot</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script>
        document.body.addEventListener("keydown", function (evt) {
            if (evt.key == 'e' || evt.key == 'ArrowRight' || evt.key == 'ArrowLeft') {
                evt.preventDefault();
            }
            console.log(evt);

        })
        document.body.addEventListener("click", function (evt) {

            console.log(evt.target.parentNode.classList, evt.target.parentNode.classList.contains("focused"));

        })

        function updateFocusCells() {
            htmx.ajax("GET", "/flush", { swap: "none", values: { id: me.closest('.card').id } })
        }

        // htmx.logAll();
    </script>

    <div class="header">
        <div id="settings" hx-post="/settings/setup" hx-trigger="load" hx-swap="innerHTML"></div>
        <div _="on click toggle .hidden on #settings toggle .down on me" class="arrow"></div>
    </div>

    <ol id="card-container" hx-post="/cards" hx-trigger="load, update-cards from:body"></ol>



    <div class="footer">

        <div _="on click toggle .hidden on #navigation toggle .down on me" class="arrow"></div>
        <div id="navigation" hx-post="/settings/navigation" hx-trigger="load" hx-swap="innerHTML" class="hidden"></div>
        <div class="live">
            <div hx-post="/live" hx-trigger="load, every 100ms" hx-swap="innerHTML"></div>
            <button id="upload-button" hx-get="/flush/all" hx-swap="none" onclick="this.blur();">upload all</button>
        </div>
    </div>

    <div id="advanced" class="hidden" hx-post="/settings/advanced" hx-trigger="load" hx-swap="innerHTML">

    </div>



    <div hx-get="/cap" hx-trigger="keydown[key=='b'] queue:none from:body"></div>
    <div hx-get="/capend" hx-trigger="keyup[key=='b'] from:body"></div>
</body>

</html>