@font-face {
    font-family: "Digital";
    src:
      url("digital.woff2") format("woff2");
  }
  :root {
    --blue: #0471a4;
    --orange: #ec6a4f;
    --green: #00923c;
    --brown: #782e0a;
    --slate: #7c7c7c;
    --white: #e8e8e8;
    --red: #ac314b;
    --black: #303039;
    --yellow: #fdc909;
    --violet: #69599a;
    --rose: #dc9ea6;
    --aqua: #56bec1;
    --brightness: 40%;
    --fwidth: 50px;
}

body {
    margin: 0;
}

#settings>form {
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    gap: 1rem 0;
    align-content: space-between;
}

/* Use a darker gray border for the input fields */
input {
    border: 1px solid #999;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
}

/* input[type="number"] {
    font-family: "digital";
    font-size: 20px;
} */

.live {
    font-family: "digital", monospace;
    font-size: 20px;
}

/* Use a blue color for the submit button */
button {
    background-color: #2196f3;
    color: white;
    padding: 10px;
    margin: 1rem;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-family: Digital, monospace;
    font-weight: bold;
    align-self: center;
}

/* Use a flexbox layout for the form elements */
.option {
    display: flex;
    align-items: center;
}

/* Use a fixed width for the labels */
label {
    display: block;
}

/* Use a horizontal layout for the radio buttons */
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 100px;
    align-items: start;
    border: none;
}

/* Use a legend element to label the fieldsets */
legend {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

form>div,
form>fieldset {
    border-right: 1px solid #d3d3d3;
    padding-left: 1rem;
    padding-right: 1rem;
}

#footer {
    position: absolute;
    bottom: 0;
}

#footer>form {
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    gap: 1rem 0;
    align-content: space-between;
}




#card-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* height: 800px; */
    /* scroll-behavior: smooth; */
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

#card-container li.center {
    scroll-snap-align: center;
    /* scale: 110%;
    z-index: 1; */
}

li {
    list-style: none;
    margin: 20px;
    padding: 0;
}

table {
    background-color: white;
    border-spacing: 0;
    font-family: 'Roboto';
    font-size: 22px;
    border-radius: 10px !important;
    border: 2px solid #000;
    /* solid rgb(0, 0, 0); */
    filter: drop-shadow(0 0 0.5rem lightgrey);
    text-align: center;
    overflow-y: auto;
    height: 400px;
    /* overflow: hidden; */
    /* border-collapse: collapse; */
}

.hidden {
    filter: brightness(90%);
}

thead {
    /* border-radius: 10px; */
    /* border: 1px solid rgb(0, 0, 0); */
    position: sticky;
}

thead>tr:nth-child(1)>td:first-child {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* tbody {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: scroll;
} */

/* tr.focused {
    border: 2px solid black;
} */

td:first-child {
    min-width: 50px;
}

td {
    min-width: 50px;
}

.cell_form {
    background-color: #00000000;
}

.cell_input {
    border: none;
    margin: 0;
    justify-content: center;
    width: 45px;
}

.cell_submit {
    display: none;
}


.bad {
    color: red;
}



.r1>td:first-child,
.r1.focused {
    background-color: color-mix(in srgb, var(--blue) var(--brightness), white);
}

.r2>td:first-child,
.r2.focused {
    background-color: color-mix(in srgb, var(--orange) var(--brightness), white);
}

.r3>td:first-child,
.r3.focused {
    background-color: color-mix(in srgb, var(--green) var(--brightness), white);
}

.r4>td:first-child,
.r4.focused {
    background-color: color-mix(in srgb, var(--brown) var(--brightness), white);
}

.r5>td:first-child,
.r5.focused {
    background-color: color-mix(in srgb, var(--slate) var(--brightness), white);
}

.r6>td:first-child,
.r6.focused {
    background-color: color-mix(in srgb, var(--white) var(--brightness), white);
}

.r7>td:first-child,
.r7.focused {
    background-color: color-mix(in srgb, var(--red) var(--brightness), white);
}

.r8>td:first-child,
.r8.focused {
    background-color: color-mix(in srgb, var(--black) var(--brightness), white);
}

.r9>td:first-child,
.r9.focused {
    background-color: color-mix(in srgb, var(--yellow) var(--brightness), white);
}

.r10>td:first-child,
.r10.focused {
    background-color: color-mix(in srgb, var(--violet) var(--brightness), white);
}

.r11>td:first-child,
.r11.focused {
    background-color: color-mix(in srgb, var(--rose) var(--brightness), white);
}

.r12>td:first-child,
.r12.focused {
    background-color: color-mix(in srgb, var(--aqua) var(--brightness), white);
}

/* tr:has( > .empty)>td:first-child ~ td {
    background-color: rgba(255, 255, 255, 0);
} */



/* .r1 {
    background-image: linear-gradient(30deg, color-mix(in srgb, var(--blue) var(--brightness), white) , rgba(255, 255, 255, 0) 40px);
}
.r1.focused {
    background-color: color-mix(in srgb, var(--blue) var(--brightness), white);
}

.r2 {
    background-image: linear-gradient(60deg, color-mix(in srgb, var(--orange) var(--brightness), white) , rgba(255, 255, 255, 0) 30px);
}
.r2.focused {
    background-color: color-mix(in srgb, var(--orange) var(--brightness), white);
}

.r3 {
    background-image: linear-gradient(60deg, color-mix(in srgb, var(--green) var(--brightness), white) , rgba(255, 255, 255, 0) 40px);
}
.r3.focused {
    background-color: color-mix(in srgb, var(--green) var(--brightness), white);
} */