@font-face {
    font-family: "Digital";
    src:
        url("digital.woff2") format("woff2");
}

:root {
    --blue: #0471a4;
    --orange: #ec6a4f;
    --green: #00923c;
    --brown: #782e0a;
    --slate: #7c7c7c;
    --white: #e8e8e8;
    --red: #ac314b;
    --black: #303039;
    --yellow: #fdc909;
    --violet: #69599a;
    --rose: #dc9ea6;
    --aqua: #56bec1;
    --brightness: 40%;
    --fwidth: 50px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';

    ::-webkit-scrollbar {
        display: none;
    }
}

.header form,
.footer form {
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
    background-color: rgb(73, 73, 73);
    color: rgb(156, 226, 243);
    font-size: 1.2em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    gap: 1rem;
    align-content: space-between;

    >fieldset {
        justify-content: space-evenly;
    }
    >div {
        justify-content: flex-end ;
    }
    >fieldset,
    >div {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        min-width: 100px;
        max-height: 120px;
        flex-wrap: wrap;
        align-items: start;
        border: none;
        
        >input[type=number]{
            font-family: "Digital";
            font-size: 1em;
            background-color: rgb(73, 73, 73);
            border-radius: 5px;
            max-width: 100px;
            color: rgb(156, 226, 243);
            padding-left: 5px;
        }

        >legend {
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
        }

        >input, label {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        >.option {
            display: flex;
            align-items: center;

            >label {
                display: block;
            }

            >input {
                border: 1px solid #999;
                border-radius: 5px;
                justify-content: center;
            }
        }
    }

    >button {
        background-color: #2196f3;
        color: white;
        padding: 10px;
        margin: 1rem;
        border-radius: 5px;
        height: 40px;
        width: 100px;
        font-family: Digital, monospace;
        font-weight: bold;
        align-self: center;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    

    .live {
        display: flex;
        justify-content: end;
        font-family: "digital", monospace;
        background-color: rgb(73, 73, 73);
        color: rgb(156, 226, 243);
        font-size: 24px;
        padding: 10px;
        padding-right: 30px;
        text-align: end;
        #upload-button {
            background-color: #2196f3;
            color: white;
            padding: 5px;
            border-radius: 5px;
            height: 30px;
            width: 100px;
            margin-left: 15px;
            font-family: Digital, monospace;
            font-weight: bold;
            float: right;
        }
    }
}





#card-container {
    display: flex;
    flex-direction: row;
    /* height: 70vh; */
    margin: 50 auto;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: auto;


    >.card {
        height: 100%;

        >.buttons {
            margin: 8px;
            display: flex;
            row-gap: 10px;
            justify-content: space-evenly;

            >button {
                flex-basis: 30%;
                background-color: #2196f3;
                padding: 4px 8px;
                border-radius: 5px;
                font-size: 20px;
                color: white;
            }
        }

        >table {
            background-color: white;
            border-spacing: 0;
            font-size: 22px;
            border-radius: 10px;
            border: 2px solid #000;
            /* filter: drop-shadow(0 0 0.5rem grey); */
            text-align: center;
            max-height: 80%;
            overflow: scroll;
            table-layout: fixed;
            overflow: hidden;


            & td {
                min-width: 50px;
            }

            .compact .buttons {
                display: none;
            }

            .compact>tr>*:first-child {
                min-width: 150px !important;
                background-color: rgb(0, 0, 0);
                color: white;
            }

            >thead {

                display: block;

                >tr {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    >th {
                        padding: 0 !important;
                    }

                }

                .sn {
                    background-color: rgb(0, 0, 0);
                    color: white;

                    >td {
                        flex: 1;
                    }
                }

                .wl {
                    font-size: 16px;

                    >th {
                        flex: 1;
                    }

                    >th:first-child {
                        min-width: 50px;
                        flex-grow: 0;
                        padding: 0;
                    }
                }

                .desc {
                    >th:first-child {
                        min-width: 50px;
                        flex-grow: 0;
                    }

                    .cell {
                        display: flex;
                        justify-content: space-around;

                        >div {
                            flex: 1;
                            width: 50px;
                        }
                    }
                }

            }



            >tbody {
                /* display:block; */
                display: block;
                width: 100%;
                overflow: auto;
                max-height: 360px;
                border-collapse: collapse;

                >tr {
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    height: 30px;
                }


                >td:first-child {
                    flex: 1;
                    align-self: center;
                }





                --border-A: 2px solid black;
                --border-B: 2px dotted black;

                .focused:not(:has(+ .focused)) {
                    border-right: var(--border-A);
                }

                *:not(.focused)+.focused {
                    border-left: var(--border-A);
                }

                *:not(tr:has(.focused))+tr:has(.focused)>.focused,
                tr:has(.focused):first-of-type>.focused {
                    border-top: var(--border-A);
                }

                & tr:has(.focused):not(:has(+ tr > .focused))>.focused {
                    border-bottom: var(--border-A);
                }



                .next:not(:has(+ .next)) {
                    border-right: var(--border-B);
                }

                *:not(.next)+.next {
                    border-left: var(--border-B);
                }

                *:not(tr:has(.next))+tr:has(.next)>.next,
                tr:has(.next):first-of-type>.next {
                    border-top: var(--border-B);
                }

                & tr:has(.next):not(:has(+ tr > .next))>.next {
                    border-bottom: var(--border-B);
                }

                .cell {
                    display: flex;
                    padding: 4;
                    box-sizing: border-box;
                    justify-content: space-around;
                    align-items: center;
                    width: 100px;

                    >div,
                    >form {
                        width: 50px;
                        height: 30px;
                        flex: 1;

                        >input {
                            background-color: inherit;
                            outline-style: none;
                            border: inherit;
                            color: inherit;
                            font: inherit;
                            text-align: inherit;
                            padding: 0;
                            height: 100%;
                            width: 100%;
                        }

                        >input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }

                        >input[type=submit] {
                            display: none;
                        }
                    }
                }

                .cell_input {
                    border: none;
                    margin: 0;
                    justify-content: center;
                    width: 45px;
                }
            }


        }


    }
}

.advanced {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}


#card-container li.center {
    scroll-snap-align: center;
    /* scale: 110%;
    z-index: 1; */
}

li {
    list-style: none;
    margin: 20px;
    padding: 0;
}



.dark {
    filter: brightness(80%);
}

thead {
    /* border-radius: 10px; */
    /* border: 1px solid rgb(0, 0, 0); */
    position: sticky;
}

/* .cell_form {
    background-color: #00000000;
} */

.cell_input {
    border: none;
    margin: 0;
    justify-content: center;
    width: 45px;
}

.cell_submit {
    display: none;
}


.bad {
    color: red;
}

.hidden {
    display: none;
}



.arrow {
    width: 100%;
    font-family: "digital", monospace;
    background-color: rgb(73, 73, 73);
    color: rgb(156, 226, 243);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    text-align: center !important;
    padding: 0.25rem;
    
    &:is(:not(:first-child)){
        border-bottom: 1px solid black;
        border-radius: 0px 0px 80px 80px;
        &::before {
            content: "↑ Hide Setup ↑";
        }
        &:is(.down)::before {
            content: "↓ Show Setup ↓";
        }
    }
    &:is(:first-child){
        border-top: 1px solid black;
        border-radius: 80px 80px 0px 0px;
        &::before {
            content: "↑ Show Navigation Settings ↑";
        }
        &:is(.down)::before {
            content: "↓ Hide Navigation Settings ↓";
        }
    }
    
}

/* *:focus {
    background-color: black !important;
  } */



.r1>td:first-child,
.r1 .focused {
    background-color: color-mix(in srgb, var(--blue) var(--brightness), white);
}

.r2>td:first-child,
.r2 .focused {
    background-color: color-mix(in srgb, var(--orange) var(--brightness), white);
}

.r3>td:first-child,
.r3 .focused {
    background-color: color-mix(in srgb, var(--green) var(--brightness), white);
}

.r4>td:first-child,
.r4 .focused {
    background-color: color-mix(in srgb, var(--brown) var(--brightness), white);
}

.r5>td:first-child,
.r5 .focused {
    background-color: color-mix(in srgb, var(--slate) var(--brightness), white);
}

.r6>td:first-child,
.r6 .focused {
    background-color: color-mix(in srgb, var(--white) var(--brightness), white);
}

.r7>td:first-child,
.r7 .focused {
    background-color: color-mix(in srgb, var(--red) var(--brightness), white);
}

.r8>td:first-child,
.r8 .focused {
    background-color: color-mix(in srgb, var(--black) var(--brightness), white);
}

.r9>td:first-child,
.r9 .focused {
    background-color: color-mix(in srgb, var(--yellow) var(--brightness), white);
}

.r10>td:first-child,
.r10 .focused {
    background-color: color-mix(in srgb, var(--violet) var(--brightness), white);
}

.r11>td:first-child,
.r11 .focused {
    background-color: color-mix(in srgb, var(--rose) var(--brightness), white);
}

.r12>td:first-child,
.r12 .focused {
    background-color: color-mix(in srgb, var(--aqua) var(--brightness), white);
}
