:root {
    --blue: #0471a4;
    --orange: #ec6a4f;
    --green: #00923c;
    --brown: #782e0a;
    --slate: #7c7c7c;
    --white: #e8e8e8;
    --red: #ac314b;
    --black: #303039;
    --yellow: #fdc909;
    --violet: #69599a;
    --rose: #dc9ea6;
    --aqua: #56bec1;
    --brightness: 20%
}

li {
    list-style: none;
    margin: 20px;
    padding: 0;
  }

/* 
li:before {
content: counter(item);
position: absolute;
top: 50%;
left: 50%;
transform: translate3d(-50%,-40%,70px);
color: #fff;
font-size: 2em;
}  */

#tables {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

#tables li.center {
    scroll-snap-align: center;
    scale: 110%;
    z-index: 1;
}

/* #tables li.hidden {
    visibility: hidden;
}

#tables li.center + .hidden {
    visibility: visible;
    transform: translateX(-10%);
}
#tables li.hidden:has(+ .center) {
    visibility: visible;
    transform: translateX(10%);
} */

table {
    background-color: white;
    border-spacing: 0;
    font-family: 'Roboto';
    font-size: 22px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
}

thead {
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}

thead>tr:nth-child(1)>td:first-child {
    background-color: rgb(0, 0, 0);
    color: white;
}

tr:has( > .bad)>td:first-child ~ td {
    background-color: rgba(255, 0, 0, 0.116);
}

tr:has( > .empty)>td:first-child ~ td {
    background-color: rgba(241, 241, 241, 0);
}



.r1>td:first-child,
.r1.focused {
    background-color: color-mix(in srgb, var(--blue) var(--brightness), white);
}

.r2>td:first-child,
.r2.focused {
    background-color: color-mix(in srgb, var(--orange) var(--brightness), white);
}

.r3>td:first-child,
.r3.focused {
    background-color: color-mix(in srgb, var(--green) var(--brightness), white);
}

.r4>td:first-child,
.r4.focused {
    background-color: color-mix(in srgb, var(--brown) var(--brightness), white);
}

.r5>td:first-child,
.r5.focused {
    background-color: color-mix(in srgb, var(--slate) var(--brightness), white);
}

.r6>td:first-child,
.r6.focused {
    background-color: color-mix(in srgb, var(--white) var(--brightness), white);
}

.r7>td:first-child,
.r7.focused {
    background-color: color-mix(in srgb, var(--red) var(--brightness), white);
}

.r8>td:first-child,
.r8.focused {
    background-color: color-mix(in srgb, var(--black) var(--brightness), white);
}

.r9>td:first-child,
.r9.focused {
    background-color: color-mix(in srgb, var(--yellow) var(--brightness), white);
}

.r10>td:first-child,
.r10.focused {
    background-color: color-mix(in srgb, var(--violet) var(--brightness), white);
}

.r11>td:first-child,
.r11.focused {
    background-color: color-mix(in srgb, var(--rose) var(--brightness), white);
}

.r12>td:first-child,
.r12.focused {
    background-color: color-mix(in srgb, var(--aqua) var(--brightness), white);
}